.button {
    /* задаем параметры базовой кнопки */
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: $main-color;
    /* ссылка, цвет задаем в файле _variables.scss */
    border: none;
    /* убираем бордюр */
    // задаем параметры текста
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    &_main {
        /* задаем параметры кнопки button_main из блока promo__wrapper, вторая (большая) кнопка */
        // повторябщие свойства с верхним пунком убираем
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    .button {
        width: 120px;
        height: 28px;
        font-size: 10px;
        &_main {
            margin-top: 40px;
            width: 200px;
            height: 38px;
            font-size: 12px;
        }
    }
}